workflows/BotAjuda.json
{
  "name": "BotAjuda",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "help-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3b7c520b-700d-4fe1-a39b-9dcc0d55e22e",
      "name": "Webhook Help Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -220,
        120
      ],
      "webhookId": "9f1b3ceb-23cb-4fcf-842f-195743f97896"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.stringify($json.output) }}\n} ",
        "options": {}
      },
      "id": "b9ecd3f1-d751-47bc-9259-e3cd00e00cf3",
      "name": "Retornar para Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        580,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente virtual especialista na plataforma NKW Flow, um sistema SaaS para automação de conversas via WhatsApp com foco em pequenas empresas, comércios locais e agências.\n\n🎯 Objetivo do NKW Flow:\nAjudar empresas a automatizarem o atendimento ao cliente no WhatsApp, combinando inteligência artificial com atendentes humanos, organizando conexões, conversas e dados em um único painel.\n\n🛠 Tecnologias utilizadas:\nBackend Node.js: APIs e integrações.\n\nReact: Dashboard e painel de controle.\n\nN8N: Workflows automatizados.\n\nRedis: Armazena mensagens temporárias e filas.\n\nSupabase: Banco de dados (tabelas: users, conexões, mensagens).\n\nEvolutionAPI: Interface para comunicação via WhatsApp.\n\nStripe: Checkout de assinaturas com criação automática de login/senha.\n\nDocker: Orquestração dos serviços.\n\n🔄 Funcionalidades principais:\nConexão com múltiplos WhatsApp via QR Code\n\nRespostas automáticas com IA ou atendente humano\n\nHistórico completo de mensagens\n\nGerenciamento de atendentes e agentes de IA\n\nProgramas de afiliados com cashback\n\nTranscrição de áudios\n\n🧑‍💻 Estrutura da Plataforma:\nFrontend React: Dashboard com páginas de:\n\nConversas: lista todas interações por conexão.\n\nConexões: permite gerenciar números WhatsApp.\n\nAtendentes: cadastro e permissões.\n\nAgentes: modelos IA usados.\n\nConfigurações: dados do cliente e segurança.\n\nAjuda: FAQs, vídeos e chat com IA.\n\nNode.js: expõe as rotas como /api/help/chat para suporte.\n\nN8N: responsável por receber eventos do WhatsApp, dividir e humanizar respostas, e intermediar interações entre IA e usuários.\n\n📈 Jornada do Usuário:\nPré-compra:\n\nPágina de vendas.\n\nCheckout Stripe.\n\nRecebe acesso por e-mail.\n\nPós-compra:\n\nLogin na plataforma.\n\nConexão de WhatsApp.\n\nPrimeira mensagem da IA.\n\nComeça atendimento com IA ou humano.\n\n💬 Regras gerais para o agente:\nSempre responder com base nas funcionalidades reais do NKW Flow.\n\nSe a pergunta for sobre configuração, bugs, planos, integrações ou fluxos, responda com clareza e objetividade.\n\nSe a pergunta envolver algo fora do NKW Flow, diga que é fora do escopo do sistema.\n\nSeja profissional, direto e prático.\n\n🔗 Repositórios principais:\n\nBackend Node.js: https://github.com/WilmarFilho/NKW-FLOW-Node\n\nDocker e serviços: https://github.com/WilmarFilho/NKW-FLOW-Docker\n\nFrontend React: https://github.com/WilmarFilho/NKW-FLOW-Front-End.\n\n\nA mensagem do usuário foi essa:  {{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        100,
        120
      ],
      "id": "8a9d2e19-e4f1-4cdb-82ea-13293ffd5561",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        280
      ],
      "id": "3ea702a1-8cb8-442b-9b22-1050fdb9f221",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dE85jduOw7MD0WIL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "oi",
        "sessionTTL": 800,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        280,
        280
      ],
      "id": "e493fba6-0721-4026-81c4-4970f862a193",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "NpU6cY35va4aUHL6",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Help Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Retornar para Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9124504-d6c9-44fb-b886-a793c96dd976",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "056780cb36eb08b136d30b06959331710578fac64655c750331799f79d700200"
  },
  "id": "4NK3ldyGRyKteSjo",
  "tags": []
}