workflows/CriaInstancia.json
{
  "name": "CriaInstancia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-session",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "647d666b-c9a4-4f7d-bb81-14345ba326eb",
      "name": "Webhook",
      "webhookId": "8195fa6e-1a8e-4256-b531-4a141e99f6d9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8081/instance/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instanceName\": \"{{ $json.body.session }}\",\n  \"qrcode\": true,\n  \"integration\": \"WHATSAPP-BAILEYS\",\n  \"webhook\": {\n    \"url\": \"http://host.docker.internal:5678/webhook/evolution\",\n    \"events\": [\n      \"CONNECTION_UPDATE\",\n      \"MESSAGES_UPSERT\",\n      \"SEND_MESSAGE\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "a2256bd4-c98c-45de-834f-2d0bb79916b4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d98f7fd-df3d-4423-99ba-97eacc657721",
              "name": "qrcode.code",
              "value": "={{ $json.qrcode.base64 }}",
              "type": "string"
            },
            {
              "id": "a46f4306-d94c-4cb3-af80-d7488c5c8342",
              "name": "instanceId",
              "value": "={{ $json.instance.instanceId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "839c64a2-96f7-4707-8a45-04cdf44a3ff7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"qr_code\": \"{{ $json.qrcode.code }}\",\n  \"instanceId\": \"{{ $json.instanceId }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        660,
        0
      ],
      "id": "9ada695f-361b-49e6-819a-77110bdc2945",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "ee38be8c-4524-40ea-9497-96e098512dc2",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "27",
            "sec-ch-ua-platform": "\"Android\"",
            "user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Mobile Safari/537.36",
            "sec-ch-ua": "\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Opera GX\";v=\"119\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?1",
            "accept": "*/*",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7"
          },
          "params": {},
          "query": {},
          "body": {
            "session": "usuario_josao"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/create-session",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "680b728e-8e4a-47cd-ae2c-d388592d631c",
  "meta": {
    "instanceId": "056780cb36eb08b136d30b06959331710578fac64655c750331799f79d700200"
  },
  "id": "t4TXFRyR8n1nZxCT",
  "tags": []
}