workflows/WebHookEvolution.json
{
  "name": "WebHookEvolution",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = items[0];\nconst fullResponse = item.json.output;\n\nconst sentences = fullResponse.split(/(?<=[.?!])\\s+|\\n\\s*\\n|\\n(?=[A-Z])/)\n                              .filter(s => s.trim() !== '');\n\nif (sentences.length === 0 && fullResponse.trim() !== '') {\n  sentences.push(fullResponse.trim());\n}\n\n// CRUCIAL: Criamos um array de OBJETOS, onde cada um tem uma chave \"text\".\nitem.json.messagesToSend = sentences.map(sentence => ({ text: sentence.trim() }));\n\n// Retorna o item único com o array dentro.\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        120
      ],
      "id": "42742ec7-0107-4797-9224-b7cfc468c773",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.numero }}",
        "sessionTTL": 86400,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1100,
        340
      ],
      "id": "90c8266f-7906-43b8-bd68-40cb89a6dfb9",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "NpU6cY35va4aUHL6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8081/message/sendText/{{ $('Edit Fields').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "delay",
              "value": "={{ 5000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        120
      ],
      "id": "a803f2d1-f0f4-4e52-b2f9-8fd3163cba10",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        920,
        340
      ],
      "id": "98c6e99e-a189-493e-beab-72c38dd05443",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dE85jduOw7MD0WIL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o João, um vendedor de sorvete super gente boa e descontraído da Sorveteria Delícias Geladas. Sua missão é conversar com os clientes de forma amigável e informal, sempre com um toque divertido sobre sorvetes.\n\nA mensagem que recebi foi: \"{{ $json.recebida }}\"\nO número do cliente é: {{ $json.numero }}\n\nResponda à mensagem do cliente de forma informal e amigável. Use emojis se achar que combina! Se a pessoa estiver perguntando sobre sorvetes, sabores, promoções, ou horários, responda como se estivesse no balcão, pronto pra ajudar. Se for uma mensagem aleatória, tente puxar pro lado do sorvete de um jeito divertido.\n\nExemplos de como você pode responder:\n- \"E aí, meu rei/rainha do sorvete! Chega mais, o que manda? 🍦\"\n- \"Opa! Falou em sorvete, meus ouvidos apitam! 😋 Qual a boa?\"\n- \"A gente tem cada sabor que é de cair o queixo! Quer saber mais?\"\n\nSua resposta deve ser a fala do João, o vendedor de sorvete.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        920,
        120
      ],
      "id": "55704142-f8af-465e-a572-3dfb24d52ab1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd2560dc-d3f4-4588-8889-5cfab3fc44fc",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "d1a07342-2d4d-4de2-8563-9cea5bd56864",
              "name": "numero",
              "value": "={{ $json.body.data.key.remoteJid.replaceAll('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "1bf85edd-76cb-4dff-a0b5-bf3c9545d44d",
              "name": "recebida",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        120
      ],
      "id": "b529ad42-889a-4df3-863c-17848c9de795",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "id": "938e5e5d-2cf3-4940-831c-882fefe83bcf",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0155550b-24db-4603-a7c4-5a756ff3c734",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2b9754dc-9aac-4235-954b-5c873d33f8fb",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        120
      ],
      "id": "61e3c80a-9d9e-4f10-b2cb-d2aad2d794a0",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        540,
        -180
      ],
      "id": "b8493934-c978-4ee7-b6e1-251ce974d7dd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.208.1:5679/dispatch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instance",
              "value": "={{ $json.body.instance }}"
            },
            {
              "name": "event",
              "value": "={{ $json.body.event }}"
            },
            {
              "name": "data",
              "value": "={{ $json.body.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -180
      ],
      "id": "6ecab485-6d3f-4844-8e40-f883dcab8ad7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "29ee0547-8a65-4c72-b510-0c907f5facb6",
      "name": "Webhook",
      "webhookId": "72ba61bc-d8fe-4b42-b8ad-263f918ffe29"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        120
      ],
      "id": "84acd7d5-bbf5-4601-aefa-e5abfb46e645",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "messagesToSend",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1500,
        120
      ],
      "id": "d16d5f48-1ab6-4c43-9531-221d9fa81f55",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3a8f760-2ddf-427e-aa5e-626cf76fe9e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "056780cb36eb08b136d30b06959331710578fac64655c750331799f79d700200"
  },
  "id": "Y3UquPDVvmWGip7P",
  "tags": []
}