workflows/WebHookEvolution.json
{
  "name": "WebHookEvolution",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = items[0];\nconst fullResponse = item.json.output;\n\nconst sentences = fullResponse.split(/(?<=[.?!])\\s+|\\n\\s*\\n|\\n(?=[A-Z])/)\n                              .filter(s => s.trim() !== '');\n\nif (sentences.length === 0 && fullResponse.trim() !== '') {\n  sentences.push(fullResponse.trim());\n}\n\n// CRUCIAL: Criamos um array de OBJETOS, onde cada um tem uma chave \"text\".\nitem.json.messagesToSend = sentences.map(sentence => ({ text: sentence.trim() }));\n\n// Retorna o item único com o array dentro.\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        120
      ],
      "id": "42742ec7-0107-4797-9224-b7cfc468c773",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.numero }}",
        "sessionTTL": 86400,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1100,
        340
      ],
      "id": "90c8266f-7906-43b8-bd68-40cb89a6dfb9",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "NpU6cY35va4aUHL6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8081/message/sendText/{{ $('Edit Fields').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "delay",
              "value": "={{ 5000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        120
      ],
      "id": "a803f2d1-f0f4-4e52-b2f9-8fd3163cba10",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        920,
        340
      ],
      "id": "98c6e99e-a189-493e-beab-72c38dd05443",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dE85jduOw7MD0WIL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o Carlos, atendente da Gráfica Coonexão. Seu papel é conversar com os clientes de forma simpática, clara e acessível — como se estivesse no balcão da gráfica. Fale como um humano de verdade: sem linguagem robótica, sem formalidade exagerada, mas também sem gírias demais. Nada de usar emojis.\n\nA mensagem recebida do cliente foi:\n\"{{ $json.recebida }}\"\nO número do cliente é: {{ $json.numero }}\n\nResponda à mensagem com educação, atenção e agilidade. Você conhece tudo sobre materiais gráficos: papel, acabamento, tamanhos, tipos de impressão, prazos, formatos de arquivo, cartões de visita, banners, panfletos, adesivos, papel timbrado, etc. Pode tirar dúvidas, sugerir soluções, explicar diferenças técnicas e até dar ideia pro cliente, sempre que fizer sentido.\n\nSe a mensagem for sobre orçamento, prazos, tipos de papel ou qualquer produto gráfico, responda como quem está acostumado a lidar com isso no dia a dia, pronto pra ajudar. Se for uma pergunta vaga ou confusa, puxe assunto com leveza e tente entender melhor o que o cliente precisa.\n\nExemplos de tom de voz que você pode usar:\n\n\"Oi! Tudo certo? Manda aí o que você precisa que te ajudo rapidinho.\"\n\n\"Beleza! Só me diz qual o tipo de material que você quer, que eu já te passo as opções.\"\n\n\"Ah, entendi! Nesse caso, a gente pode usar um papel mais firme, tipo couché 300g, com laminação fosca. Fica bem profissional.\"\n\nSua resposta deve ser a fala do Carlos, o atendente da gráfica.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        920,
        120
      ],
      "id": "55704142-f8af-465e-a572-3dfb24d52ab1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd2560dc-d3f4-4588-8889-5cfab3fc44fc",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "d1a07342-2d4d-4de2-8563-9cea5bd56864",
              "name": "numero",
              "value": "={{ $json.body.data.key.remoteJid.replaceAll('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "1bf85edd-76cb-4dff-a0b5-bf3c9545d44d",
              "name": "recebida",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        60
      ],
      "id": "b529ad42-889a-4df3-863c-17848c9de795",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        -200
      ],
      "id": "b8493934-c978-4ee7-b6e1-251ce974d7dd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.208.1:5679/dispatch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instance",
              "value": "={{ $json.body.instance }}"
            },
            {
              "name": "event",
              "value": "={{ $json.body.event }}"
            },
            {
              "name": "data",
              "value": "={{ $json.body.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        -200
      ],
      "id": "6ecab485-6d3f-4844-8e40-f883dcab8ad7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        40
      ],
      "id": "29ee0547-8a65-4c72-b510-0c907f5facb6",
      "name": "Webhook",
      "webhookId": "72ba61bc-d8fe-4b42-b8ad-263f918ffe29"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        120
      ],
      "id": "84acd7d5-bbf5-4601-aefa-e5abfb46e645",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "messagesToSend",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1500,
        120
      ],
      "id": "d16d5f48-1ab6-4c43-9531-221d9fa81f55",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0155550b-24db-4603-a7c4-5a756ff3c734",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2b9754dc-9aac-4235-954b-5c873d33f8fb",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        80
      ],
      "id": "6f3c4881-08bd-4b4a-a753-c085b7ae5d5f",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0155550b-24db-4603-a7c4-5a756ff3c734",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "=connection.update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "312a160f-6e7e-484d-8e80-5faaf3db2787",
              "leftValue": "={{ $json.body.data.state }}",
              "rightValue": "close",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        720
      ],
      "id": "30ddb149-7530-4e6c-9866-acd6aa2bbe9e",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        740,
        720
      ],
      "id": "b25f5ba6-1ca4-42ec-973a-c40f43b3f23a",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://host.docker.internal:8081/instance/delete/{{ $json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        700
      ],
      "id": "678c7ad9-443a-4fe5-8ee1-22b56fc66906",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "axios/1.7.9",
            "content-length": "430",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "host.docker.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "connection.update",
            "instance": "wilmar_josé_alves_ferreira_filho_1751484825562",
            "data": {
              "instance": "wilmar_josé_alves_ferreira_filho_1751484825562",
              "state": "close",
              "statusReason": 401
            },
            "destination": "http://host.docker.internal:5678/webhook-test/evolution",
            "date_time": "2025-07-02T16:36:11.480Z",
            "sender": "556492434104@s.whatsapp.net",
            "server_url": "http://localhost:8080",
            "apikey": "44D153F4-E1FF-44BB-B96D-34478AC86CF3"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/evolution",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5eb37ff2-2d60-4ae1-91e0-f3ce2be61d3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "056780cb36eb08b136d30b06959331710578fac64655c750331799f79d700200"
  },
  "id": "Y3UquPDVvmWGip7P",
  "tags": []
}